<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Sobre mim </div>
            <p class="paragraph-text justify-text">
                Estou estudando Análise e Desenvolvimento de Sistemas no Instituto Federal do Espírito Santo. Sou extremamente curiosa sobre programação e no momento estou focada em aprender desenvolvimento back-end.
            </p>
            <p class="paragraph-text justify-text">
                Sempre gostei muito da Tecnologia e como ela nos afeta, desde pequena me interessei por computadores e em especial a Internet e suas infinitas possibilidades e sempre quis entender como tudo isso funcionava, então decidi estudar a área e me apaixonei completamente por todo esse mundo e criei esse blog no intuito de compartilhar esse conhecimento e também como forma de aprendizado para mim.
            </p>
        </div>
    </section>
</div>
