
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Habilidades</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection"></h3>
                    <p class="paragraph-text center-align">
                        Tecnologias que estou aprendendo
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Tecnologias</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title" style="background: #c7245a;"><span>Java</span></div>
                            <div class="skillbar-bar" style="background: #ce3367;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title" style="background: #c7245a;"><span>JavaScript/HTML/CSS</span></div>
                            <div class="skillbar-bar" style="background: #ce3367;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title" style="background: #c7245a;"><span>C</span></div>
                            <div class="skillbar-bar" style="background: #ce3367"></div>
                        </div> <!-- End Skill Bar -->

                        
                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title" style="background: #c7245a;"><span>GNU/Linux</span></div>
                            <div class="skillbar-bar" style="background: #ce3367;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title" style="background: #c7245a;"><span>Python</span></div>
                            <div class="skillbar-bar" style="background: #ce3367;"></div>
                        </div> <!-- End Skill Bar -->
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>